<div class="todo-list">
    <h1 class="todo-list__title title">My Todo List</h1>
    <div *ngIf="loading">
        <app-todo-loading (load)="loadTodos()"></app-todo-loading>
    </div>
    <div *ngIf="!loading">

        <ul class="todo-list__list" *ngIf="todos.length; else noTodos">
            <input class="todo-list__filter" type="search" type="name" placeholder="Filter todo by title..."
                [(ngModel)]="search">
            <li class="todo-list__item" *ngFor="let todo of todos | todosFilter:search">
                <app-todo-item [todo]="todo"></app-todo-item>
            </li>
        </ul>

        <ng-template #noTodos>
            <p class="todo-list__notodos">No Todos now!</p>
        </ng-template>
    </div>
</div>