@import "./../../../styles.scss";

.todo-item {
  width: 100%;
  padding: 0;
  margin: 0;
  .todo-item__item {
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid $pink;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem auto;
  }

  .todo-item__checkbox {
    margin-right: 0.5rem;
    opacity: 0;
    position: absolute;
    width: 24px;
    height: 24px;
  }

  .todo-item__checkmark {
    margin-right: 0.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #777;
    border-radius: 3px;
    &::after {
      line-height: 18px;
      content: "✔";
      opacity: 0;
    }

    &.checked {
      background: $green;
      color: #fff;
      text-align: center;
      &::after {
        line-height: 18px;
        content: "✔";
        opacity: 1;
      }
    }
  }

  .todo-item__done {
    text-decoration: line-through;
  }

  .todo-item__date {
    position: absolute;
    right: 4rem;
    font-size: 0.8rem;
  }

  .button-remove {
    width: 24px;
    height: 24px;
    margin: 0.2rem;
    color: $pink;
    font-weight: bold;
    border: 1px solid $green;
    display: flex;
    justify-content: center;
    text-align: center;
    &:hover {
      background-color: $pink-light;
      border: 1px solid $green;
      color: $green;
    }
  }
  .todo-item__notodos {
    text-align: center;
  }
}

.action {
  width: 100%;
  padding: 0;
  margin: 0;
  .action__list {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: .5rem auto;
    .action__item {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: .2rem;  
    }
    .action__input {
      width: 100%;
      border: 1px solid #ccc;
      outline: none;
      padding: .5rem;
      font-family: "Baloo Tamma 2", cursive;
      font-size: 1rem;
    }
    .action__button {
      width: 10rem;
      height: 2rem;
      background-color: $pink-light;
      color: $green;
      padding: .2rem;
      margin: .2rem;
      border: 1px solid $green;
      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
  }
}
