@import "./../../../styles.scss";

.todo-item {
  width: 100%;
  padding: 0;
  margin: 0;
  .todo-item__item {
    display: flex;
    justify-content: space-between;
  }
  .todo-item__checkbox {
    display: none;
  }
  .todo-item__checkmark {
    display: block;
    margin-right: 1rem;
    padding: .2rem;
    width: 24px;
    height: 24px;
    border: 1px solid #777;
    border-radius: 5px;
    &::after {
      content: "✔";
      opacity: 0;
    }
    &.checked {
      background: $green;
      color: #fff;
      text-align: center;
      &::after {
        line-height: 18px;
        content: "✔";
        opacity: 1;
      }
    }
  }

  .todo-item__done {
    text-decoration: line-through;
  }

  .todo-item__date {
    position: absolute;
    right: 4rem;
    font-size: 0.8rem;
  }

  .todo-item__button {
    max-width: 24px;
    max-height: 24px;
    border-radius: 5px;
    margin: .2rem;
    padding: .2rem .4rem;
  }

  .button-remove {
    color: $pink;
    font-weight: bold;
    border: 1px solid $green;
    &:hover {
      background-color: $pink-light;
      border: 1px solid $green;
      color: $green;
    }
  }
}