<div *ngIf="!loading">
    <div class="todo-item" *ngIf="todosService.todos.length; else noTodos">
        <li class="todo-item__item" *ngFor="let todo of todosService.todos | todosFilter:search; let i = index">
            <span [class.todo-item__done]="todo.completed">
                <input [id]="todo.id" class="todo-item__checkbox" type="checkbox" [class.checked]="todo.completed"
                    (change)="completeTodo(todo.id)" [disabled]="todo.edit">

                <span class="todo-item__checkmark" [class.checked]="todo.completed"
                    (change)="completeTodo(todo.id)"></span>

                <label [for]="todo.id" [class.completed]="todo.completed" *ngIf="!todo.edit">
                    <strong class="todo-item__number">{{ i + 1 }}</strong>
                    <span class="todo-item__name"> {{ todo.title }} </span>
                </label>

                <div *ngIf="todo.edit">
                    <app-todo-edit [todo]="todo"></app-todo-edit>
                </div>
            </span>

            <small class="todo-item__date">{{ todo.date | date:'medium' }}</small>

            <button class="todo-item__button button-edit button" [disabled]="todo.completed"
                (click)="editTodo(todo.id)">Edit</button>
            <button class="todo-item__button button-remove button" (click)="removeTodo(todo.id)">X</button>
        </li>
    </div>

    <ng-template #noTodos>
        <p class="todo-item__notodos">No Todos now!</p>
    </ng-template>
</div>

<!-- <div *ngIf="editMode">
    <app-todo-edit></app-todo-edit>
</div> -->

<div class="loading" *ngIf="loading">
    <p class="loading__item">Loading...</p>
</div>