<div class="filter">
    <input class="filter__input" type="text" placeholder="Filter todo by title..." [(ngModel)]="search">
    <button class="todo-item__button buttom" (click)="sortTodoId()">Sort by id</button>
    <button class="todo-item__button buttom" (click)="sortTodoTitle()">Sort by title</button>
</div>

<div *ngIf="!loading">
    <ul class="todo-item" *ngIf="todosService.todos.length; else noTodos">
        <li class="todo-item__item" *ngFor="let todo of todosService.todos | todosFilter:search; let i = index">
            <span [class.todo-item__done]="todo.completed">
                <input [id]="todo.id" class="todo-item__checkbox" type="checkbox" [class.checked]="todo.completed" (change)="onChange(todo.id)" >
                <span class="todo-item__checkmark" [class.checked]="todo.completed" (change)="onChange(todo.id)"></span>
                <label [for]="todo.id">
                    <strong class="todo-item__number">{{ i + 1 }}</strong>
                    <span class="todo-item__name"> {{ todo.title }} </span>
                </label>
            </span>
            <small class="todo-item__date">{{ todo.date | date:'medium' }}</small>
            <button class="todo-item__button buttom" (click)="removeTodo(todo.id)">X</button>
        </li>
    </ul>

    <ng-template #noTodos>
        <p class="todo-item__notodos">No Todos now!</p>
    </ng-template>
</div>

<p *ngIf="loading">Loading...</p>