@import "./../../../styles.scss";

.todo-app {
  width: 100%;
  .todo-app__title {
    font-size: 2rem;
    background-color: $green;
    color: $font-color-white;
    padding: 2rem;
    margin: 0;
  }
}