@import "./../../../styles.scss";

.todo-edit {
  max-width: 100%;
  .todo-edit__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .todo-edit__item {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .todo-edit__input {
    border: 1px solid #ccc;
    display: inline-block;
    max-width: 100%;
    outline: none;
    font-size: .8rem;
    padding: .5rem;
    margin: .5rem;
    font-family: "Roboto", sans-serif;
    &:focus {
      border: 1px solid $pink;
    }
  }

  .todo-edit__button {
    width: 8rem;
    margin: 0.2rem;
    padding: 0.2rem;
  }

  .button-save {
    background-color: $green;
    color: #fff;
    border: 1px solid $green;
    &:hover {
      background-color: $pink;
    }
  }

  .button-cancel {
    color: $pink;
    border: 1px solid $green;
    &:hover {
      color: $font-color-white;
      background-color: $pink;
    }
  }
}
