<div class="todo-edit">
    <div class="todo-edit__list">
        <div class="todo-edit__item">
            <input class="todo-edit__input" type="text" placeholder="Edit title" [(ngModel)]="updatedTitle" />
        </div>
        <div class="todo-edit__item">
            <button class="todo-edit__button button-save button" (click)="saveTodoTitle()">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="todo-edit__button button-cancel button" (click)="cancelTodo()">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>
</div>