body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  overflow-x: hidden;
  color: $font-color;
  font-family: "Baloo Tamma 2", cursive;
}

.title {
  color: $green;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.2s;
  font-weight: bold;
  outline: none;
}
